html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
body {
  height: 100%;
    margin: 0;
    padding: 0;
}
.home-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: url('../img/capitol.jpg') no-repeat, center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  min-height: 650px;
    height: 100%;
}

.home-page .search-bar {
  position: absolute;
  top: 50%;
  margin-top: -120px;
}

.home-page #bar {
  position: relative;
  width: 700px;
  height: 110px;
  left: 40%;
}

.home-page #logo {
  position: absolute;
  left: 45%;
  top: 70px;
}

.home-page #enter {
  position: absolute;
  top: 20px;
  left: 950px;
}

.home-page input {
  position: absolute;
  top: 25px;
  height: 40px;
  left: 50%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

textarea:focus, input:focus {
  outline: none;
}
*:focus {
  outline:none;
}

#lightbox {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 500px;
    max-height: 400px;
    overflow:auto;
	margin-left: -250px;
	background: #fff;
    padding: 0px 0px 0px 0px;
	z-index: 1001;
	display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: #fafafa;
}

#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    min-height: 650px;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

div.results {
    width: 500px;
    background-color:#3d4049;
    padding-top: 15px;
    padding-bottom:15px;
}

p.results {
    text-align: center;
    font-size: 30px;
    line-height:20px;
    color: #fafafa;
}
p.company-name {
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

div#light {
    padding-bottom: 3px;
    padding-top:3px;
}
div#dark {
    background-color: #e8e8e8;
    padding-top: 3px;
    padding-bottom:3px;
}

a.company-link {
    text-decoration:none;
    color: black;
}

div.company-info {
    padding: -20px -20px 0px 20px;
    position: relative;
    min-height: 600px;
    height:100%;
    width: 100%;
    min-width: 1350px;
    background-color:#fc5866;
}

.grouped-company {
    position: absolute;
    width: 900px;
    top: 23%;
    left: 20%;
}
.grouped-company .title {
    float: left;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fafafa;
    word-wrap: break-word;
}

.grouped-company .description {
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    max-height: 370px;
    overflow-y: auto;
    font-weight: 400;
    color: #fafafa;
    float:right;
}
.back-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style:italic;
    padding: 10px 10px 10px 10px;
}

.back-button a{
    text-decoration:none;
    color: #fafafa;
}

.description p {
    text-align: center;
}

.party-info {
    position: relative;
    background-color: #56b3d8;
    width: 100%;
    min-width: 1350px;
    height: 650px;
}

.party-wrapper {
    position: absolute;
    width: 1200px;
    top: 12%;
    left: 9%;
}
.party-info canvas {
    float: left;
}

.statistic-party {
    display:inline-block;
    float: right;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fafafa;
    margin-top: 15px;
}

.numbers-party .dems h2 {
    color: #0171d0;   
}

.numbers-party .repubs h2 {
    color: #E0004F;
}
.numbers-party p {
    padding-left: 30px;
    font-weight: 300;
    color: #fafafa;
    line-height: 10px;
}

.numbers-party .others h2 {
    color: #A600A6;   
}

.federal-info {
    background-color: #D5E1DD;
    position: relative;
    width: 100%;
    min-width: 1350px;
    height: 650px;
}

.federal-wrapper {
    position: absolute;
    width: 1100px;
    top: 12%;
    left: 9%;
}

.federal-wrapper canvas {
    float: right;
}

.federal-state {
    display:inline-block;
    float: left;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fafafa;
    margin-top: 15px;
}
.federal-state h1 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fafafa;
    width: 500px;
}

.federal-numbers .feds h2 {
    color: #77BED2;   
}

.federal-numbers .state h2 {
    color: #F2583E;
}
.federal-numbers p {
    padding-left: 30px;
    font-weight: 300;
    color: #fafafa;
    line-height: 10px;
}
.recipients {
    background-color: #21d3a7;
    position: relative;
    width: 100%;
    min-width: 1350px;
    top: -22px;
}

.recipient-full h1 {
    text-align:center;
    padding-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fafafa;
}
.r li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 25px;
}
.r p{
   font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 10px;
}
#red {
    color:#f45d69; 
}
#blue {
    color: #4797d8;
}

#purple {
    color: #bd98d3;
}
.r {
    width: 350px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recipient-list {
    text-align: center;
}