<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <title>Transparency.io : clarity into Political Influence</title>

          {% block styles %}
          <link href="/media/css/style.css" rel="stylesheet"/>
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,300,400' rel='stylesheet' type='text/css'>
          {% endblock styles %}

    </head>

    <body>
      {% block content %}
      {% endblock content %}

      <script src="/media/js/jquery.min.js"></script>
      {% block scripts %}
      {% endblock scripts %}
    </body>
</html>
