{% extends 'base.html' %}

{% block styles %}
{{ block.super}}
{% endblock styles %}

{% block content %}
<div class="full">
	 <img alt="full screen background image" src="images/wics.jpg" id="full-screen-background-image" /> 
    <div id="nav">
        <a href="/" class ="home">RETURN</a>
        <h1 class="organization">{{ title }}</h1>
    </div>
	 <div class="title">
	   <p id="sub">Women in Computer Science Board of 2012-2013</p>
        <p id="subsub">at the University of Pennsylvania present</p>
        <h1>The Time <br/></>Capsule</h1>
	 </div>
</div>
<div class="party">
</div>
<div class="recipients">
</div>
<div class="state_fed">
</div>
<div class="lobbying">
</div>
{% endblock content %}

{% block scripts %}
{{ block.super}}
    <script src="/media/js/chart.min.js"></script>
<script>
    var recipients = {{ recipients }} ;
    var state_fed = {{ state_fed }} ;
    var party = {{ party_breakdown }} ;
</script>
{% endblock scripts %}
